attrs==26.1.0
autocommand==2.2.2
build==1.4.2
certifi==2026.2.25
cffi==2.0.0
cryptography==46.0.6
distlib==0.4.0
filelock==3.25.2
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
more-itertools==10.8.0
packaging==26.0
pkg_resources==81.0.0
platformdirs==4.9.4
psutil==7.2.2
pycparser==3.0
pygdbmi==0.11.0.0
PyGObject==3.54.5
pyproject_hooks==1.2.0
python-discovery==1.2.1
python-xlib==0.33
sentry-sdk==2.56.0
setuptools==82.0.1
six==1.17.0
smbus==1.1
TBB==0.2
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.6.3
virtualenv==21.2.0
wheel==0.46.3
